* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
    align-items:center;
    justify-content:center;
}
.fps1 {
    position: absolute;
    top:0;
    right:0;
    display: inline-block;
}
.fps2 {
    position: absolute;
    top:10;
    right:0;
    display: inline-block;
}
